<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous'>
  <title>Currículo - Formação</title>
</head>
<body>
<nav class='navbar navbar-expand-lg bg-light'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>
      <i class='bi bi-file-earmark-person'></i>
      Currículo
    </a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav'
            aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <a class='nav-link' aria-current='page' href='./index.html'>Início</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='./experiencia.html'>Experiência</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='#'>Formação</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='./portfolio.html'>Portfólio</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='./contato.html'>Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class='container mt-5'>
  <h3>Formação e Cursos</h3>
  <hr>
  <ul>
    <li>
      <p>
        <strong>Tech Dive - Formação back-end Java</strong><br>
        Período: 11/2021 - 08/2022<br>
        Tipo: Capacitação<br>
        Carga horária: 900 horas<br>
        Assuntos: Curso de capacitação com foco em back-end Java, JSF, Primefaces, JAX-RS, JMS, mensageria, AWS, clean code, design patterns, github.<br>
      </p>
    </li>
    <li>
      <p>
        <strong>DevIn House - Formação Full Stack</strong><br>
        Período: 06/2021 - 05/2022<br>
        Tipo: Capacitação<br>
        Carga horária: 900 horas<br>
        Assuntos: Curso de capacitação com assuntos sobre ferramentas de back-end como Java, Spring, banco de dados SQL, boas práticas em programação, github, desenvolvimento ágil, programação front-end com HTML, CSS, Javascript, ReactJS.<br>
      </p>
    </li>
    <li>
      <p>
        <strong>Análise de Sistemas de Computação</strong><br>
        Período: 2021 - 2023 (previsão)<br>
        Tipo: Tecnólogo<br>
        Instituição: UNINTER<br>
        Carga horária: 2145 horas<br>
        Assuntos: Curso tecnólogo na área de desenvolvimento de sistemas, contemplando lógica, algoritmo, estrutura de dados, engenharia de software, ferramentas front-end e back-end.<br>
      </p>
    </li>
  </ul>
</main>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa'
        crossorigin='anonymous'></script>
</body>
</html>
